<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Javascript Basic</title>
</head>
<body>
    <header>
        <h1>Javascript cho người mới bắt đầu</h1>
    </header>
    <section>
        <pre>
            1,Khái niệm và mục đích
            2,Cách sử dụng(3 cách) 
                - Sử dụng trực tiếp trên element 
                - sử dụng trực tiếp trên trang html với nội dung được bao bọc bởi cặp thẻ đóng mở script
                - import file có phần mở rộng .js vào file html
                    dùng thẻ script với thuộc tính đường dẫn là src`
        </pre>
    </section>
    <footer>

    </footer>
    <script src="../JS/home.js" language="Javascript"></script>
</body>
</html>