<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>

    </header>
    <section>
        <pre>
            I, Tổng kết CSS
            1, định nghĩa
            2, cách sử dụng(3 cách)
            3,Độ ưu tuên trong css : dựa theo selector và !imortal
            4, Responsive(media : max/min / width/high)
            5,Animation(keyframe : from - to)
            6, Phân chia các dạng css
            - Text : font ,color ,text,..
            - Bố cục : display , position , background ,...
            - vị trí : top, right, bottom, left,margin,padding,...
            II, Javascript
            1, Khái niệm và cách sử dụng
            2,Javascript basic : biến , mảng, đối tượng
                                 cấu trúc : điều kiện , vòng lặp
                                hàm - function
            3, DOM : tương tác với các element
            4, Thư viện Jquery
            => Xây dựng đc page : đầy đủ các chức năng trên client
                                (
                                    cache : local , cookie,..
                                    lib : slick , cra , ...
                                )
        </pre>
    </section>
    <footer>

    </footer>
</body>
</html>